<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Waste Textile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <article class="flex bg-[#DBEFF7] rounded-2xl w-[880px] h-[520px] overflow-hidden shadow-lg">
        <img src="{{ url_for('static', filename='c:\Users\PEDRO\Desktop\png-clipart-google-docs-computer-icons-g-suite-spreadsheet-google-sheets-google-blue-angle.png') }}" alt="Planilha" class="w-10 h-10">
    </article>

    
</body>
</html>